#################################
# APPLICATION
#################################

NODE_ENV=development

PORT=4000


#################################
# DATABASE
#################################

# Local development database

DATABASE_URL=postgresql://postgres:password@localhost:5432/wxyz?schema=public



#################################
# SSL CERTIFICATE
#################################

# Only production uses this

DATABASE_SSL=true

CA_CERT_PATH=certs/ca.pem



#################################
# JWT
#################################

JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d



#################################
# MAIL
#################################

EMAIL_USER=
EMAIL_PASS=
EMAIL_HOST=
EMAIL_PORT=587



#################################
# CLOUDINARY
#################################

CLOUDINARY_KEY=
CLOUDINARY_SECRET=
CLOUDINARY_NAME=



#################################
# REDIS
#################################

REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASS=
REDIS_USER=